.customBtn  {
    background-color: grey;
    border: none;
    color:#fff;
    font-size: 19px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    display: block;
    margin: 5px auto;
}

.customBtnRed  {
    background-color: red;
    border-radius: "20px";
}
